# Environment / secrets
.env

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Data directory (MC world backups, local state)
data/

# Elixir / Mix
/_build/
/deps/
/cover/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/

# Ignore assets that are produced by build tools
**/priv/static/assets/
**/priv/static/cache_manifest.json

# Node.js
npm-debug.log
**/node_modules/
**/assets/node_modules/
